td{
	width:100px;
	height:100px;
	text-align:center;
	font-size:50px;
	color:red;
	background-color:yellow;
}

td:hover{

	background-color:blue;
}

table{
	background-color:green;
	margin:auto;
}

	
h1{
	background-color:orange;
	color:green;
}

h1:hover{
	background-color:green;
	color:orange;
}

gamearea{

	margin:auto;
}			

p1{

	background-color:red;
	position:fixed;
	margin-top:90px;
}

p2{

	float:right;
	width:50px;
}

h4{
	text-align:center;
}

.score{
	font-size:50px;
	text-align:center;
	height:100px;
	width:100px;
	margin-bottom:10px;
	color:#f3f;
}

#developer{
	color:white;
}
